@model ZaypayPayalogueAndApiDemp.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Purchase</legend>

    <div class="display-label">ZaypayPaymentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZaypayPaymentId)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
