@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<center>
<div style="margin-top:20px;">
    <h2 class="error-payment">
        Sorry, an error occurred while processing your request
    </h2>    
</div>
</center>



